@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    background-color: #00bcd4;
    background-color: #9DD8E8;
    font-family: "Poppins", sans-serif;
}

input{
    border: none;
}
.min-h-screen{
    min-height: 100vh;
}
.w-full{
    width: 100%
}
.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.gap-2{
    gap: .6rem;
}
.items-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.p-5{
    padding: 2rem;
}
.bg-white{
    background: white;
}

.text-2xl{
    font-size: 2.2rem;
}
.form-input{
    background-color: #F3F3F3;
    border-radius: .5rem;
    padding: .5rem;
    padding-left: .8rem;
    padding-right: .8rem;
    border: 1px solid #eee;
    font-size: 1.6rem;
    font-family: inherit;
}
.shadow-md{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
}

.form-container{
    background: white;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 3.2rem;
    padding-right: 3.2rem;
    border-radius: 1rem;
    width: 45rem;
    max-width: 65rem;
}

.mb-6{
    margin-bottom: 1.8rem;
}

.mb-7{
    margin-bottom: 2.5rem;
}

.submit{
    background-color: #457B9D;
    color: white;
    border:none;
    outline: none;
    font-size: 1.5rem;
    font-family: inherit;
    padding: .8rem 1.6rem;
    border-radius: .6rem;
    cursor: pointer;
}

